/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  color: $header-color;
  font-family: $alt-font-family;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.2px;

  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
  min-width: 225px;
  height: 60px;
  line-height: 60px;
  background-image: url(../img/button-bg.png);
  background-repeat: no-repeat;
  background-color: $primary-color;
  color: $header-color;
  font-family: $alt-font-family;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border: none;

  &:hover {
    background-color: #496bfe;
    outline: none;
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
  &:focus {
    outline: none;
  }
}

textarea {
}
